In [3]:
import os
import pandas as pd
import numpy as np
# !pip install sodapy
from sodapy import Socrata

Requirement already satisfied: sodapy in c:\users\rfaro\anaconda3\lib\site-packages (2.2.0)
Requirement already satisfied: requests>=2.28.1 in c:\users\rfaro\anaconda3\lib\site-packages (from sodapy) (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\rfaro\anaconda3\lib\site-packages (from requests>=2.28.1->sodapy) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\rfaro\anaconda3\lib\site-packages (from requests>=2.28.1->sodapy) (3.2)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\rfaro\anaconda3\lib\site-packages (from requests>=2.28.1->sodapy) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\rfaro\anaconda3\lib\site-packages (from requests>=2.28.1->sodapy) (2022.9.24)

DEPRECATION: pyodbc 4.0.0-unsupported has a non-standard version number. pip 23.3 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of pyodbc or contact the author to suggest that they release a version with a conforming version number. Discussion can be found at https://github.com/pypa/pip/issues/12063

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
# https://data.iowa.gov/resource/m3tr-qhgy.json

In [5]:
SODAPY_APPTOKEN='UfGtQhGHhU36LDzybJVGBKM2l'

In [6]:
socrata_domain = 'data.iowa.gov'
socrata_dataset_identifier = 'm3tr-qhgy'

# App Tokens generated by creating an account at https://opendata.socrata.com/signup

# export SODAPY_APPTOKEN=<token>
socrata_token = os.environ.get("SODAPY_APPTOKEN")

In [7]:
client = Socrata(socrata_domain, socrata_token)
print("Domain: {domain:}\nSession: {session:}\nURI Prefix: {uri_prefix:}".format(**client.__dict__))

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

Domain: data.iowa.gov
Session: <requests.sessions.Session object at 0x000002C699C30820>
URI Prefix: https://

In [8]:
results = client.get(socrata_dataset_identifier)
df = pd.DataFrame.from_dict(results)
df.head()

,invoice_line_no,date,store,name,address,city,zipcode,store_location,county_number,county,...,state_bottle_retail,sale_bottles,sale_dollars,sale_liters,sale_gallons,:@computed_region_3r5t_5243,:@computed_region_wnea_7qqw,:@computed_region_i9mz_6gmt,:@computed_region_uhgg_e8y2,:@computed_region_e7ym_nrbf
0,S31104900052,2016-03-07T00:00:00.000,2613,HY-VEE FOOD STORE #1 / COUNCIL BLUFF,2323 W BROADWAY,COUNCIL BLUFFS,51501,"{'type': 'Point', 'coordinates': [-95.879662, ...",78,POTTAWATTAMIE,...,14.57,12,174.84,12.00,3.17,219,40,437,69,1879
1,S31059000012,2016-03-03T00:00:00.000,3678,"SMOKE SHOP, THE",1918 SE 14TH ST,DES MOINES,50320,"{'type': 'Point', 'coordinates': [-93.597011, ...",77,POLK,...,11.76,6,70.56,10.50,2.77,832,29,356,64,1878
2,S31090000003,2016-03-07T00:00:00.000,4984,FAST AVE ONE STOP,2111 PARK AVE,MUSCATINE,52761,"{'type': 'Point', 'coordinates': [-91.030306, ...",70,MUSCATINE,...,27.74,1,27.74,0.75,0.20,445,56,86,68,1835
3,S31049300044,2016-03-03T00:00:00.000,2626,HY-VEE DRUGSTORE / UNIVERSITY / DSM,4100 UNIVERSITY AVE,DES MOINES,50311,"{'type': 'Point', 'coordinates': [-93.673222, ...",77,POLK,...,5.90,12,70.80,9.00,2.38,773,25,316,64,1878
4,S31117100049,2016-03-08T00:00:00.000,2522,HY-VEE WINE AND SPIRITS / SPIRIT LAK,HWY 9 & 71,SPIRIT LAKE,51360,NaN,30,DICKINSON,...,20.25,3,60.75,2.25,0.59,NaN,NaN,NaN,NaN,NaN

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 29 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   invoice_line_no              1000 non-null   object
 1   date                         1000 non-null   object
 2   store                        1000 non-null   object
 3   name                         1000 non-null   object
 4   address                      1000 non-null   object
 5   city                         1000 non-null   object
 6   zipcode                      1000 non-null   object
 7   store_location               926 non-null    object
 8   county_number                959 non-null    object
 9   county                       959 non-null    object
 10  category                     1000 non-null   object
 11  category_name                999 non-null    object
 12  vendor_no                    1000 non-null   object
 13  vendor_name                  1000 non-null   object
 14  itemno                       1000 non-null   object
 15  im_desc                      1000 non-null   object
 16  pack                         1000 non-null   object
 17  bottle_volume_ml             1000 non-null   object
 18  state_bottle_cost            1000 non-null   object
 19  state_bottle_retail          1000 non-null   object
 20  sale_bottles                 1000 non-null   object
 21  sale_dollars                 1000 non-null   object
 22  sale_liters                  1000 non-null   object
 23  sale_gallons                 1000 non-null   object
 24  :@computed_region_3r5t_5243  926 non-null    object
 25  :@computed_region_wnea_7qqw  926 non-null    object
 26  :@computed_region_i9mz_6gmt  926 non-null    object
 27  :@computed_region_uhgg_e8y2  926 non-null    object
 28  :@computed_region_e7ym_nrbf  926 non-null    object
dtypes: object(29)
memory usage: 226.7+ KB

In [13]:
df['date'] = pd.to_datetime(df['date'])

df.head()


# store
# county_number
# sale_bottles
# sale_dollars
# sale_liters
# sale_gallons
# itemno

,invoice_line_no,date,store,name,address,city,zipcode,store_location,county_number,county,...,sale_bottles,sale_dollars,sale_liters,sale_gallons,:@computed_region_3r5t_5243,:@computed_region_wnea_7qqw,:@computed_region_i9mz_6gmt,:@computed_region_uhgg_e8y2,:@computed_region_e7ym_nrbf,timestamp
0,S31104900052,2016-03-07,2613,HY-VEE FOOD STORE #1 / COUNCIL BLUFF,2323 W BROADWAY,COUNCIL BLUFFS,51501,"{'type': 'Point', 'coordinates': [-95.879662, ...",78,POTTAWATTAMIE,...,12,174.84,12.00,3.17,219,40,437,69,1879,2016-03-07
1,S31059000012,2016-03-03,3678,"SMOKE SHOP, THE",1918 SE 14TH ST,DES MOINES,50320,"{'type': 'Point', 'coordinates': [-93.597011, ...",77,POLK,...,6,70.56,10.50,2.77,832,29,356,64,1878,2016-03-03
2,S31090000003,2016-03-07,4984,FAST AVE ONE STOP,2111 PARK AVE,MUSCATINE,52761,"{'type': 'Point', 'coordinates': [-91.030306, ...",70,MUSCATINE,...,1,27.74,0.75,0.20,445,56,86,68,1835,2016-03-07
3,S31049300044,2016-03-03,2626,HY-VEE DRUGSTORE / UNIVERSITY / DSM,4100 UNIVERSITY AVE,DES MOINES,50311,"{'type': 'Point', 'coordinates': [-93.673222, ...",77,POLK,...,12,70.80,9.00,2.38,773,25,316,64,1878,2016-03-03
4,S31117100049,2016-03-08,2522,HY-VEE WINE AND SPIRITS / SPIRIT LAK,HWY 9 & 71,SPIRIT LAKE,51360,NaN,30,DICKINSON,...,3,60.75,2.25,0.59,NaN,NaN,NaN,NaN,NaN,2016-03-08

In [11]:
# df['itemno']

In [ ]:
# df['timestamp'] = pd.to_datetime(df['timestamp'])
# df['timestamp'] = df['timestamp'].dt.normalize()

# df['timestamp'] = df['timestamp'].dt.floor('D')

In [17]:
# store
# county_number
# sale_bottles
# sale_dollars
# sale_liters
# sale_gallons
# itemno



df['store'] = pd.to_numeric(df['store'])
df['county_number'] = pd.to_numeric(df['county_number'])
df['sale_bottles'] = pd.to_numeric(df['sale_bottles'])
df['sale_dollars'] = pd.to_numeric(df['sale_dollars'])
df['sale_liters'] = pd.to_numeric(df['sale_liters'])
df['sale_gallons'] = pd.to_numeric(df['sale_gallons'])
df['category'] = pd.to_numeric(df['category'])
df['pack'] = pd.to_numeric(df['pack'])

In [24]:
df['year'] = pd.DatetimeIndex(df['date']).year
df['month'] = pd.DatetimeIndex(df['date']).month
df['quarter'] = pd.PeriodIndex(df.date, freq='Q')
df.head()

,invoice_line_no,date,store,name,address,city,zipcode,store_location,county_number,county,...,sale_gallons,:@computed_region_3r5t_5243,:@computed_region_wnea_7qqw,:@computed_region_i9mz_6gmt,:@computed_region_uhgg_e8y2,:@computed_region_e7ym_nrbf,timestamp,year,month,quarter
0,S31104900052,2016-03-07,2613,HY-VEE FOOD STORE #1 / COUNCIL BLUFF,2323 W BROADWAY,COUNCIL BLUFFS,51501,"{'type': 'Point', 'coordinates': [-95.879662, ...",78.0,POTTAWATTAMIE,...,3.17,219,40,437,69,1879,2016-03-07,2016,3,2016Q1
1,S31059000012,2016-03-03,3678,"SMOKE SHOP, THE",1918 SE 14TH ST,DES MOINES,50320,"{'type': 'Point', 'coordinates': [-93.597011, ...",77.0,POLK,...,2.77,832,29,356,64,1878,2016-03-03,2016,3,2016Q1
2,S31090000003,2016-03-07,4984,FAST AVE ONE STOP,2111 PARK AVE,MUSCATINE,52761,"{'type': 'Point', 'coordinates': [-91.030306, ...",70.0,MUSCATINE,...,0.20,445,56,86,68,1835,2016-03-07,2016,3,2016Q1
3,S31049300044,2016-03-03,2626,HY-VEE DRUGSTORE / UNIVERSITY / DSM,4100 UNIVERSITY AVE,DES MOINES,50311,"{'type': 'Point', 'coordinates': [-93.673222, ...",77.0,POLK,...,2.38,773,25,316,64,1878,2016-03-03,2016,3,2016Q1
4,S31117100049,2016-03-08,2522,HY-VEE WINE AND SPIRITS / SPIRIT LAK,HWY 9 & 71,SPIRIT LAKE,51360,NaN,30.0,DICKINSON,...,0.59,NaN,NaN,NaN,NaN,NaN,2016-03-08,2016,3,2016Q1

In [1]:
# df.info()

In [25]:
reduced_df = df[['date'
                 ,'year'
                 ,'month'
                 ,'quarter'
                ,'store'
                 ,'name'
                ,'address'
                ,'city'
                ,'zipcode'
#                 ,'store_location'
                ,'county_number'
                ,'county'
                ,'category'
                ,'category_name'
                ,'vendor_no'
                ,'vendor_name'
                ,'itemno'
                ,'im_desc'
                ,'pack'
                ,'bottle_volume_ml'
                ,'state_bottle_cost'
                ,'state_bottle_retail'
                ,'sale_bottles'
                ,'sale_dollars'
                ,'sale_liters'
                ,'sale_gallons']].copy()

reduced_df.head()

,date,year,month,quarter,store,name,address,city,zipcode,county_number,...,itemno,im_desc,pack,bottle_volume_ml,state_bottle_cost,state_bottle_retail,sale_bottles,sale_dollars,sale_liters,sale_gallons
0,2016-03-07,2016,3,2016Q1,2613,HY-VEE FOOD STORE #1 / COUNCIL BLUFF,2323 W BROADWAY,COUNCIL BLUFFS,51501,78.0,...,10627,CANADIAN CLUB WHISKY,12,1000,9.71,14.57,12,174.84,12.00,3.17
1,2016-03-03,2016,3,2016Q1,3678,"SMOKE SHOP, THE",1918 SE 14TH ST,DES MOINES,50320,77.0,...,45248,PARAMOUNT GOLD RUM,6,1750,7.84,11.76,6,70.56,10.50,2.77
2,2016-03-07,2016,3,2016Q1,4984,FAST AVE ONE STOP,2111 PARK AVE,MUSCATINE,52761,70.0,...,4716,CHIVAS REGAL 12 YR,12,750,18.49,27.74,1,27.74,0.75,0.20
3,2016-03-03,2016,3,2016Q1,2626,HY-VEE DRUGSTORE / UNIVERSITY / DSM,4100 UNIVERSITY AVE,DES MOINES,50311,77.0,...,22786,BEAM'S 8 STAR BL WHISKEY,12,750,3.93,5.90,12,70.80,9.00,2.38
4,2016-03-08,2016,3,2016Q1,2522,HY-VEE WINE AND SPIRITS / SPIRIT LAK,HWY 9 & 71,SPIRIT LAKE,51360,30.0,...,15776,BUSHMILLS IRISH WHISKEY,12,750,13.50,20.25,3,60.75,2.25,0.59

reduced_df.info()

In [29]:
api_data = reduced_df.to_csv('api_data.csv', index = False)

In [31]:
#excel file 
reduced_df.to_excel("excel_data.xlsx", index = False)